<div class="container">
    <app-site-header></app-site-header>
  
    <div class="content flex-container">
      <app-left-menu></app-left-menu>
      
      <main id="main">
        <table border="1">
            <caption>
                Our delicious selection of pies for you to enjoy!
            </caption>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom de la tarte/Cake</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                  <tr>
                <td><img src="assets/Images/products/cheesecakesmall.jpg" width="100"></td>
                <td>Cheese cake</td>
                <td>Un pur plaisir.</td>
                <td>12Dt</td>
                <td>Voir détails</td>
            </tr>
            <tr>
                <td><img src="assets/Images/products/applepiesmall.jpg" width="100"></td>
                <td>Apple pie</td>
                <td>Notre tarte de pommes vedette</td>
                <td>14DT</td>
                <td>Voir détails</td>
            </tr>
            <tr>
                <td><img src="assets/Images/products/cherrypiesmall.jpg" width="100"></td>
                <td>Cherry pie</td>
                <td>La classique!</td>
                <td>18Dt</td>
                <td>Voir détails</td>
            </tr>
            <tr>
                    <td><img src="assets/Images/products/cranberrypiessmall.jpg" width="100"></td>
                    <td>Cranberry pie</td>
                    <td>En un mot ... Onctueuse !</td>
                    <td>16DT</td>
                    <td>Voir détails</td>
            </tr>
            <tr>
                <td><img src="assets/Images/products/peachpiesmall.jpg" width="100"></td>
                <td>Peach pie</td>
                <td>Un délice!</td>
                <td>18Dt</td>
                <td>Voir détails</td>
            </tr>
            <tr>
                <td><img src="assets/Images/products/pumpkinpiesmall.jpg" width="100"></td>
                <td>Pumpkin pie</td>
                <td>Le sommet du goût !</td>
                <td>17Dt</td>
                <td>Voir détails</td>
            </tr>
            <tr>
                <td><img src="assets/Images/products/strawberrycheesecakesmall.jpg" width="100"></td>
                <td>Strawberry Cheese Cake</td>
                <td>L'authentique</td>
                <td>13DT</td>
                <td>Voir détails</td>
            </tr>
            </tbody>
        </table>
        <section id="promos">
            <h3 style="font-family:verdana;">&nbsp;Nos promotions hebdomadaire</h3>
             <h4>Cheese cake</h4>
               0dt - 4 personnes<br>
               <img src="assets/Images/cheesecake.jpg" width="400" alt="Cheesecake avec caramel" height="250" />
     </section>
    </main>

</div>
<hr>

<hr>
<app-footer></app-footer>

